NEXT_PUBLIC_APP_NAME = "Prostore"
NEXT_PUBLIC_APP_DESCRIPTION = "A modern ecommerce store built with Next.js"
NEXT_PUBLIC_SERVER_URL = "http://localhost:3000"

DATABASE_URL =

AUTH_SECRET =
AUTH_TRUST_HOST =

ENCRYPTION_KEY =

PAYMENT_METHODS = "PayPal,Stripe,CashOnDelivery"
DEFAULT_PAYMENT_METHOD = "PayPal"

PAYPAL_API_URL =
PAYPAL_CLIENT_ID =
PAYPAL_APP_SECRET =

UPLOADTHING_TOKEN =
UPLOADTHING_SECRET =
UPLOADTHING_APPID =

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY =
STRIPE_SECRET_KEY =

RESEND_API_KEY =
SENDER_EMAIL = "onboarding@resend.dev"

NEXT_PUBLIC_TARGET_DATE = "2025-04-05T00:00:00"